.gallery{
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-row-gap: 10px;
	grid-auto-flow: dense;
	padding-bottom: 3em;
}

.card{
	width: 290px;
	height: 280px;
	background-color: red;
	justify-self: center;
	background-image: url('../img/container-daylight-equipment-209197.jpg');
	background-size: cover;
	background-position: center;
}

.span-2-h{
	grid-column: span 2;
	width: 98%!important;
	background-image: url('../img/clouds-dawn-idyllic-461940.jpg')!important;
}

.span-2-v{
	grid-row: span 2;
	height: 100%!important;
	background-image: url('../img/bake-baked-bakery-2349996.jpg')!important;
}

.span-4-s{
	width: 98%!important;
	height: 100%!important;
	grid-column: span 2;
	grid-row: span 2;
	background-image: url('../img/action-asphalt-auto-6147.jpg')!important;
}

/*desktop*/

@media(max-width: 1160px){
	/*display stacked*/

}

@media(max-width: 1060px){

}

@media(max-width: 980px){

}

/*tablet*/
@media(max-width: 860px){

}

/*mobile*/
@media(max-width: 760px){
	.card{
		grid-column: span 4 !important;
		width: 100%;
		height: 340px;
	}

	.span-2-v,
	.span-4-s{
		height: 340px!important;
	}

}

