/*title h1 font size 30px*/



*{
	margin: 0;
	padding: 0;
	color: #fff;
	font-family: sans-serif;
	/*transition: 0.5s;*/
}


.wrapper{
	padding: 0 5em;
}

.title{
	background-color: #fff;
	text-align: center;
	padding-top: 30px;
	padding-bottom: 30px;
}

.title h1{
	color: #333;
	font-size: 30px;
}

.title img{
	width: 300px;
	height: 50px;
}

.title p{
	font-size: 13px;
	color: #888;
	padding: 0 10em;
}

.left{
	text-align: left!important;
}

.line{
	width: 150px;
	height: 1px;
	background-color: #ffc913;
}

body{
	background-color: #efefef;
}

*::-webkit-scrollbar ,
.section-c .other-offers::-webkit-scrollbar{
  width: 5px;
  height: 5px;
}

/* Track */
*::-webkit-scrollbar-track ,
.section-c .other-offers::-webkit-scrollbar-track{
  background-color: #1d2128;
}
 
/* Handle */
*::-webkit-scrollbar-thumb ,
.section-c .other-offers::-webkit-scrollbar-thumb{
  background: #888; 
}

/* Handle on hover */
*::-webkit-scrollbar-thumb:hover ,
.section-c .other-offers::-webkit-scrollbar-thumb:hover{
  background: #555; 
}

.container{
	width: 100%;
	overflow: hidden;
}

nav{
	position: absolute;
	top: 30px;
	width: 100%;
	height: 80px;
	background-color: rgba(0, 0, 0, 0.7);
	display: flex;
	justify-content: space-around;
	z-index: 1;
	/*border-bottom: 1px #f3f3f3 solid;*/
}

nav .logo{
	float: left;
}

nav .logo a{
	display: flex;
	justify-content: space-between;
	text-decoration: none;
	color: #fff;
	font-size: 20px;
}

nav .logo a img{
	width: 80px;
	height: 80px;	
}

nav .logo a h3{
	line-height: 80px;
}

nav ul{
	list-style: none;
	float: right;
}

nav ul li{
	float: left;
	margin-top: 30px;
}

nav ul li a{
	transition: 0.5s;
	color: #fff;
	text-decoration: none;
	margin-top: 20px;
	padding: 20px 20px;
	border-left: 1px #333 solid;
	font-size: 12px;
	font-weight: bolder;
	text-transform: uppercase;
}

nav ul li #first{
	border-left: 0px;
}

nav ul li a:hover{
	color: #704e2e;
	background-color: rgba(0, 0, 0, 0.5);
}


.landing{
	position: relative;
	/*z-index: ;*/
/*	left: 0;
	top: 0;*/
	height: 110vh;
	width: 100%;
	background-image: url('../img/landing-bg-1920x1280.jpg');
	/*background-image: url('../img/ladece/pool.jpg');*/
	background-size: cover;
	text-align: center;
}

.landing .fade{
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.5);
}

.landing .landing-title{
	position: relative;
	top: 45%;
	transform: translateY(-45%);
}

.landing .landing-title h2{
	font-size: 50px;
}

.landing .landing-title p{
	font-size: 18px;
	position: relative;
}
/*
.landing .banner p:before{
	content: '';
	position: absolute;
	left: 100px;
	top: 50%;
	width: 30px;
	height: 1px;
	background-color: #ff0000;
}*/

/*.landing .book-now{
	position: relative;
	top: 45%;
	text-align: left;
}

.landing .calendar{
	padding: 10px;
	width: 100%;
	background-color: rgba(0, 0, 0, 0.2);
	display: grid;
	grid-template-columns: repeat(5 , 1fr);
	grid-gap: 10px;
}

.landing .calendar *{
	color: #333;
	width: 200px;
	height: 120px;
	/*background-color: blue;*/
/*	justify-self: center;
}

.landing .calendar .check-now{
	grid-column: 5/6;
}*/
/*
.landing .calendar input,
.landing .calendar select,
.landing .calendar button{
	color: #eaea;
	background-color: rgba(255, 255, 255, 0.1);
	border: none;
}*/

.sched-check * {
	color: black;
	font-family: "Courier New", Courier, monospace;
	font-weight: lighter;
}

.sched-check{
	/*background-color: red;*/
	padding-top: 1.5em;
	padding-bottom: 3em;
}

.sched-check .controls{
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-column-gap: 30px;
	grid-row-gap: 20px;
}

.sched-check .controls .block{
	width: 100%;
	justify-self: center;
	/*background-color: rgba(0, 0, 0, 0.5);*/
	height: 60px;
	/*grid-column: span 3;*/
}

.cal-selector{
	position: relative;
	width: 100%;
	height: 100%;
	border-radius: 7px;
	background-color: #76b041;
	display: grid;
	grid-template-columns: 60px 1fr 60px;
	grid-template-rows: 60px;
}

.cal-selector .calendar{
	display: none;
	position: absolute;
	bottom: 60px;
	left: 0;
	z-index: 1000;
	grid-column: span 3;
	width: 335px;
	height: 400px;
	background-color: #fefefe;
	box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.7);
}

.cal-selector *{
	justify-self: center;
	align-self: center;
}

.cal-selector .fa-calendar-alt,
.cal-selector .fa-arrow-right{
	color: #704e2e;
}

.cal-selector .btn{
	display: grid;
	grid-template-rows: 60px;
	width: 100%;
	height: 100%;
	cursor: pointer;
	transition: 0.5s;
	border-radius: 0 7px 7px 0;
	background-color: #5e8c34;
}

.cal-selector .btn:hover{
	background-color: #8cd14d;
}

.cal-selector .cal-icon{
	width: 100%;
	height: 100%;
	border-radius: 7px 0 0 7px;
	background-color: #5e8c34; 
	display: grid;
	grid-template-rows: 60px;
}

.cal-selector .display{
	position: relative;
	width: 100%;
	height: 100%;
	/*background-color: #704e2e;*/
}

.cal-selector .display *{
	position: absolute;
	color: #fff;
}

.cal-selector .display .month{
	font-size: 25px;
	left: 7px;
	top: 5px;
}

.cal-selector .display .day{
	left: 7px;
	bottom: 5px;
	font-size: 16px;
}

.cal-selector .display .day-abbr{
	left: 37px;
	bottom: 5px;
	font-size: 16px;
}

.cal-selector .display .year{
	/*font-weight: bold;*/
	font-size: 30px;
	right: 7px;
	top: 50%;
	transform: translateY(-50%);
}

.controls .time{
	width: 100%;
	height: 100%;
	background-color: #76b041;
	border-radius: 7px;
	display: grid;
	grid-template-columns: 60px 1fr;
}

.controls .time .selected-icon{
	display: grid;
	border-radius: 7px 0 0 7px;
	background-color: #5e8c34;
}

.controls .time .selected-icon i{
	justify-self: center;
	align-self: center;
}

.controls .time .drop-down{
	width: 100%;
	height: 100%;
	border: none;
	background-color: #76b041;
	border-radius: 7px;
	padding: 0 7px;
	color: #fff;
	outline: none;
	font-size: 18px;
	cursor: pointer;
}

.controls .time .drop-down option{
	background-color: #fff;
}

.controls .check-now{
	width: 100%;
	height: 100%;
	border-radius: 7px;
	border: none;
	outline: none;
	background-color: #76b041;
	color: #fff;
	text-transform: uppercase;
	font-weight: bold;
	font-size: 16px;
	cursor: pointer;
}

/*Package Inclusions*/
.section-b{
	display: grid;
	grid-template-columns: 5fr 1fr 5fr;
	grid-row-gap: 30px;
	/*grid-template-rows: 500px;*/
	/*grid-row-gap: 20px;*/
	/*padding-top: 5em;*/
	/*padding-bottom: 5em;*/
}

.section-b .card{
	/*position: relative;*/
	justify-self: center;
	text-align: center;
	cursor: pointer;
	width: 300px;
	height: 435px;
	background-color: #fff;
	box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.2);
}

.section-b .card .image{
	position: relative;
	overflow: hidden;
	width: 300px;
	height: 350px;
	background-size: cover;
	background-position: center;
}

.section-b .card .card-title{
	text-transform: uppercase;
	padding: 10px 0; 
	font-size: 18px;
	color: #333;
}

.section-b .card .details{
	text-transform: uppercase;
	text-align: left;
	padding: 0 10px;
	font-size: 11px;
	color: #704e2e;
}

.section-b .card:hover .card-title{
	color: #76b041;
}

.section-b .card:hover .details{
	color: #76b041;
}

.section-b .card .image .add-info{
	position: absolute;
	width: 100%;
	height: 350px;
	bottom: -350px;
	background-color: rgba(0, 0, 0, 0.5);
	transition: 0.5s;
}

.section-b .card:hover .image .add-info{
	bottom: 0;
	text-align: center;
}

.section-b .card .image .add-info .quantity{
	padding-top: 0.7em; 
	font-size: 8em;
	color: #72c3e5;
}

.section-b .card .image .extra-info{
	position: absolute;
	text-transform: uppercase;
	padding: 0 10px;
	font-size: 12px;
	color: #72c3e5;
	/*background-color: blue;*/
	left: -300px;
	transition: 0.5s;
	width: 220px;
}

.section-b .card:hover .image .extra-info{
	left: 50%;
	transform: translateX(-50%);
	transition-delay: 0.5s;
}

/*Other Offers*/
.section-c{
	background-color: #fff;
	padding: 0 0 5em 0;
}

.section-c .other-offers{
	overflow-x: scroll;
	width: 100%;
	display: grid;
	grid-template-columns: repeat(4,1fr);
	column-gap: 10px;
	/*background-color: blue;*/
}

.section-c .other-offers .card{
	position: relative;
	justify-self: center;
	width: 300px;
	height:  310px;
	overflow: hidden;
}


.section-c .other-offers .card img{
	position: absolute;
	width: 100%;
	height: 100%;
	transition: 0.5s;
}

.section-c .other-offers .card:hover img{
	transform: scale(1.2);
}

.section-c .other-offers .card .card-desc{
	/*position: absolute;*/
	background-color: rgba(0, 0, 0, 0.2);
	position: absolute;
	bottom: -100px;
	transition: 0.5s;
}

.section-c .other-offers .card .card-desc .title{
	padding: 0.5em 0;
}

.section-c .other-offers .card .card-desc .body{
	padding: 0 0.3em 0.5em 0.3em;
}

.section-c .other-offers .card:hover .card-desc{
	bottom: 0;
}


.banner{
	width: 100%;
	height: 350px;
	background-size: cover;
}

.section-d{
	background-color: #fff;
	padding-bottom: 1.5em;
}

.section-d .events{
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-auto-flow: row-dense;
	grid-template-rows: 1fr;
	grid-column-gap: 20px; 
	grid-row-gap: 10px;
}

.section-d .event{
	position: relative;
}

.section-d .event .event-title{
	width: 100%;
	padding: 1.5em 3em; 
	position: absolute;
}

.section-d .event .event-title p{
	font-size: 14px;
	text-transform: uppercase;
	font-weight: bold;
	color: #ffc913;
}

.section-d .event .event-title h1{
	text-transform: uppercase;
	font-weight: bold;
	color: #efefef;
}

.section-d .span1{
	height: 280px;
}

.section-d .span2{
	height: 600px;
	grid-row: 1/3;
}

.section-d .events img{
	position: absolute;
	width: 100%;
}

.section-d .span1 img{
	height: 300px;
}

.section-d .span2 img{
	height: 600px;
}


/*GALLERY SECTION*/
.gallery{
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-column-gap: 10px;
	padding-top: 1em;
	padding-bottom: 1.5em;
}

.gallery .description *{
	color: #333;
}

.gallery .preview{
	grid-column: span 2;
	display: grid;
	grid-template-columns:repeat(2, 1fr);
	grid-gap: 5px;
	width: 100%;
	/*background-color: blue;*/
}

.gallery .preview img{
	width: 100%;
	height: 280px;
	align-self: center;
	justify-self: center;
}


/*FOOTER*/
.foot-wrap{
	padding: 1.5em 1em;
}

footer{
	background-color: #333;
}

footer *{
	color: #9f9f9f;
}

footer img{
	width: 100px;
	height: 50px;
}

footer  .block{
	width: 100%;
}

footer h1{
	font-size: 18px;
}

footer h2{
	font-size: 16px;
}

footer h3{
	font-size: 13px;
	text-transform: uppercase;
}

footer .top,
footer .middle,
footer .bottom{
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-column-gap: 10px;
	grid-row-gap: 20px;
}

/*top footer*/
footer .top{
	background-color: #1a1a1a;
}	

footer .top .location{
	grid-column: span 2;
	display: grid;
	grid-template-columns: auto 1fr;
	grid-row-gap: 20px;
	grid-column-gap: 10px;
}

footer .top .location h3{
	grid-column: span 2;
}

footer .top .location i{
	justify-self: center;
	align-self: center;
}

footer .top .contact-info{
	display: grid;
	grid-template-columns: auto 1fr;
	grid-row-gap: 20px;
	grid-column-gap: 10px;
}

footer .top *{
	width: 100%;
	justify-self: center;
	align-self: center;
}

/*middle footer*/

footer .middle{
	/*background-color: #704e2e;*/
}

footer .middle .subscribe form{
	display: flex;
	justify-content: space-around;
}

footer .middle .subscribe form input{
	height: 50px;
	outline: none;
	border: 0;
	margin-top: 1em;
	padding: 0 1em;
}

footer .middle .subscribe form input[type='email']{
	width: 100%;
	border-radius: 5px 0 0 5px;

}

footer .middle .subscribe form input[type='submit']{
	width: 100px;
	color: #fff;
	background-color: #76b041;
	text-transform: uppercase;
	font-weight: bold;
	border-radius: 0 5px 5px 0;
}

footer .middle .owner-info img{
	width: 100%;
	height: auto;
}

footer .middle .owner-info .testimony{
	display: grid;
	grid-template-columns: 1fr 2fr;
}

footer .middle .owner-info .testimony img{
	width: 60%;
	justify-self: center;
}

footer .middle .developers-info{
	display: grid;
	grid-template-columns: 2fr 1fr;
}

footer .middle .developers-info h5{
	text-indent: 20px;
}

footer .middle .developers-info .photos{
	display: grid;
	grid-template-columns: repeat(2, 1fr);
}

footer .middle .developers-info .photos *{
	width: 100%;
}

/*bottom footer*/
footer .bottom{
	/*background-color: #76b041;*/
}

footer .bottom .copyright h3{
	font-size: 12px;
}

footer .bottom .social-media{
	display: flex;
	justify-content: space-around;
}

footer .bottom .social-media a{
	background-color: #222;
	width: 50px;
	height: 50px;
	border-radius: 50%;
	text-align: center;
}

footer .bottom .social-media a i{
	line-height: 50px;
	color: #fff;
	transition: 0.5s;
	animation: flick 5s infinite;
}

@keyframes flick{
	0%{
		color: #72c3e5;
	}

	40%{
		color: #26bfb5;
	}

	80%{
		color: #fff;
	}

	100%{
		color: #72c3e5;
	}
}

footer .bottom .social-media a:hover i{
	color: #26bfb5;
}

footer .bottom .policy{
	display: flex;
	justify-content: space-around;
}

footer .bottom .policy *{
	padding: 0 10px;
}

/*desktop*/

@media(max-width: 1160px){
	/*display stacked*/
	.sched-check .controls .block{
		grid-column: span 3;
	}
	.section-b .card{
		grid-column: 1/ 2;
	}

	.section-b .card:nth-child(even){
		grid-column: 3/ 4;
	}

	.gallery .block{
		grid-column: span 3;
	}

	.gallery .preview img{
		height: 350px;
	}
}


@media(max-width: 1060px){
	.landing .calendar *,
	.landing .calendar .check-now{
		width: 150px;
		height: 50px;
	}

	.title p{
		padding: 0 10em;
	}
}

@media(max-width: 980px){
	.section-b .card{
		grid-column: 1/ 2;
		width: 250px;
		height: 400px;
	}

	.section-b .card .image{
		width: 250px;
		height: 300px;
	}

	.section-b .card:nth-child(even){
		grid-column: 3/ 4;
	}
}

/*tablet*/
@media(max-width: 860px){
	
	.landing .calendar .month{grid-column: 2/3;}

	.landing .calendar .day{grid-column: 4/5;}

	.landing .calendar .time{grid-column: 2/3;}

	.landing .calendar .check-now{grid-column: 4/5;}

	.title p{
		padding: 0 5em;
	}

	.section-b {
		margin-top: 50px;
	}
	
	footer .block,
	footer .top .location{
		grid-column: span 3;
	}
}

/*mobile*/
@media(max-width: 760px){
	.wrapper{
		padding: 10px;
	}

	nav ul{
		display: none;
	}

	.landing .calendar{
		padding: 0;
	}

	.landing .calendar *,
	.landing .calendar .check-now{
		width: 100%;
		height: 40px;
	}

	.title p{
		padding: 0;
	}

	.section-b .card,
	.section-b .card:nth-child(even){
		grid-column: 2/ 3;
		width: 100%;
		height: 400px;
	}

	.section-b .card .image{
		width: 330px;
		height: 300px;
	}

	.section-c .add-off .img-add-off{
		grid-column: span 4;
	}

	.section-c .add-off .description{
		grid-column: span 4;
	}

	.section-d .span1,
	.section-d .span2{
		grid-column: span 2;
	}

	.section-d .span1 img,
	.section-d .span2 img{
		height: 100%;
	}

	.gallery .preview img{
		height: 280px;
		grid-column: span 2;
	}
}